<header class="header navigation">
    <div class="container">
        <div class="navigation__inner">
            <a class="logo" href="/">
                <img class="logo__img" src="images/icons/logo.svg" alt="logo" width="170" height="30">
            </a>
            <nav class="navigation__nav">
                <ul class="navigation__list">
                    <li>
                        <a class="navigation__link" href="">Cabecera del sitio</a>
                    </li>
                    <li>
                        <a class="navigation__link" href="#benefits">Ventajas</a>
                    </li>
                    <li>
                        <a class="navigation__link" href="#reviews">Testimonios</a>
                    </li>
                </ul>
            </nav>
            <a class="navigation__btn btn" id="headerbtn" href="">Únete a nosotros</a>
        </div>
    </div>
</header>